<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcc.dao.BookDao">
    <resultMap id="BaseResultMap" type="com.jcc.entity.Book">
        <id column="bname" jdbcType="VARCHAR" property="bname" />
        <id column="bcover" jdbcType="VARCHAR" property="bcover" />
        <result column="bchapters" jdbcType="INTEGER" property="bchapters" />
    </resultMap>
    <sql id="book_Column_List">
    bname,bcover,bchapters
  </sql>
    <select id="selectBookFrom_reader_book_record" parameterType="Map" resultType="Book">
        select book.bname,book.bcover,book.bchapters
        from book,reader_book_record
        where reader_book_record.rid = #{rid,jdbcType=VARCHAR}
        and book.bname = reader_book_record.bname
    </select>
</mapper>