<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcc.dao.ReaderDao">
    <resultMap id="BaseResultMap" type="com.jcc.entity.Reader">
        <id column="rid" jdbcType="VARCHAR" property="rid" />
        <id column="rname" jdbcType="VARCHAR" property="rname" />
        <result column="rpwd" jdbcType="VARCHAR" property="rpwd" />
    </resultMap>
    <sql id="Base_Column_List">
    rid,rpwd,rname
  </sql>
    <select id="selectReader" parameterType="Reader" resultType="Reader">
        select *
        from reader
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="rid != null">AND rid = #{rid}</if>
            <if test="rpwd != null">AND rpwd = #{rpwd}</if>
            <if test="rname != null">AND rname = #{rname}</if>
        </trim>
    </select>
    <insert id="insert" parameterType="Reader">
        insert into reader (rid, rpwd, rname) value (#{rid}, #{rpwd}, #{rname})
    </insert>
</mapper>