<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcc.dao.ReaderDao">
    <resultMap id="BaseResultMap" type="com.jcc.entity.Reader">
        <id column="rid" jdbcType="VARCHAR" property="rid" />
        <id column="rname" jdbcType="VARCHAR" property="rname" />
        <result column="rpwd" jdbcType="VARCHAR" property="rpwd" />
    </resultMap>
    <sql id="Base_Column_List">
    rid,rpwd,rname
  </sql>
    <select id="selectReader" parameterType="Reader" resultType="Reader">
        select *
        from reader
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="rid != null">AND rid = #{rid}</if>
            <if test="rpwd != null">AND rpwd = #{rpwd}</if>
            <if test="rname != null">AND rname = #{rname}</if>
        </trim>
    </select>
    <insert id="insert" parameterType="Reader">
        insert into reader (rid, rpwd, rname) value (#{rid}, #{rpwd}, #{rname})
    </insert>

    <!--添加到浏览记录-->
    <insert id="addToRecord" parameterType="Map">
        insert into reader_book_record value (#{rid},#{rname},#{bname},#{chapter})
    </insert>

    <!--删除浏览记录-->
    <delete id="deleteRecord" parameterType="Map">
        delete from reader_book_record where rname=#{rname} and bname=#{bname} and chapter=#{chapter}
    </delete>

    <!--添加到书架-->
    <insert id="addToLib" parameterType="Map">
        insert into reader_book value (#{rid},#{rname},#{bname})
    </insert>

    <!--将所有书库中有该书的读者度过的书选出（不含本书）-->
    <select id="recommendBooks" parameterType="String" resultType="String">
        select a.bname from reader_book a, reader_book b where b.bname=#{bname} and a.rname=b.rname and a.bname!=#{bname}
    </select>


    <!--计算N(i)N(j)交集-->
    <select id="countij" parameterType="Map" resultType="int">
        select count(*) from reader_book a, reader_book b where a.bname=#{i} and b.bname=#{j} and a.rname=b.rname
    </select>

    <!--计算N(i)-->
    <select id="counti" parameterType="String" resultType="int">
        select count(*) from reader_book where bname=#{bname}
    </select>

    <!--查询书本的相似度表-->
    <select id="selectSim" parameterType="String" resultType="Similarity">
        select * from book_similar where bname=#{bname}
    </select>

    <!--更新书本的相似度表-->
    <update id="updateSim" parameterType="Similarity">
        update  book set a=#{a},b=#{b},c=#{c},d=#{d},e=#{e},f=#{f},ua=#{ua},ub=#{ub},uc=#{uc},ud=#{ud},ue=#{ue},uf=#{uf} where bname=#{bname}
    </update>
</mapper>