.left_sort{background-color:white;left: 0;top:110px;position: absolute;width: 19%;height: 500px;border: 2px solid black}
.recent_read{margin:10px auto;display: inline-block;width: 50%}
.novel_lib{margin:10px auto;display: inline-block;width: 50%}